<h1 class="title">Catalogo</h1>
<body>
   

<div class="container">
       
    <div class="card">
        <img src="RoyalCanin.jpg">
        <h4>Royal Canin</h4>
        <p></p>Alimento seco para perro adulto, sabor a pollo y 6.3 Kilos
        <a href="#">$900</a>
    </div>
    
    <div class="card">
        <img src="ProPlan.jpeg">
        <h4>Pro Plan, Optiderma Sensitive</h4>
        <p>Todas las razas, receta de salmon y Arros y 13 Kilos para todo perro.</p>
        <a href="#">$2150</a>
    </div>
    
    <div class="card">
        <img src="Hill.jpeg">
        <h4>Hills Science Diet</h4>
        <p>Alimento Húmedo para Perro Adulto Todas las Razas Receta Pollo y Cebada y 370 g.</p>
        <a href="#">$70</a>
    </div>
    <div class="card">
        <img src="RoyalCanin2.jpeg">
        <h4>Royal Canin Prescripción</h4>
        <p>Alimento Húmedo Gastrointestinal Bajo en Grasa para Perro Adulto, 385 g</p>
        <a href="#">$70</a>
    </div>

    <div class="card">
        <img src="Vetriderm.jpeg">
        <h4>Vetriderm</h4>
        <p>Shampoo Terapéutico para Perro y Gato, 350 ml</p>
        <a href="#">$190</a>
    </div>

    <div class="card">
        <img src="HillsScienceDiet.jpeg">
        <h4>Hills Science Diet</h4>
        <p>Alimento Seco para Gato Adulto Receta Pollo, 7.3 kg</p>
        <a href="#">$1500</a>
    </div>

    <div class="card">
        <img src="ProPlanOptiprebio.jpeg">
        <h4>Pro Plan Optiprebio</h4>
        <p>Alimento Seco para Gato Adulto Receta Pollo y Arroz, 3 kg</p>
        <a href="#">$576</a>
    </div>

    <div class="card">
        <img src="FancyFeastPetitsFilets.jpeg">
        <h4>Fancy Feast Petits Filets</h4>
        <p>Alimento Húmedo para Gato Receta de Salmón, 85 g</p>
        <a href="#">$21</a>
    </div>

    <div class="card">
        <img src="DrontalGatosCaja.jpeg">
        <h4>Drontal Gatos Caja</h4>
        <p>Es un antiparasitario interno para gatos</p>
        <a href="#">$25</a>
    </div>

    <div class="card">
        <img src="DrontalPerrosCaja.jpeg">
        <h4>Drontal Perros Caja</h4>
        <p>PS 10 Kg Caja x 2 Unidades Para Perro. Antiparasitario interno para perros.</p>
        <a href="#">$30</a>
    </div>
    
</div>

</body>